@charset "utf-8";
/* 百绿汇首页CSS Document   黄美玲 */

body { font:12px/1.5 tahoma,arial,'Hiragino Sans GB','宋体',sans-serif;}
a { text-decoration:none; }
a:hover { text-decoration: none; color:#76CB1B; cursor:pointer;}
i,b { display:block;}
.fo {float: none; margin-right: auto; margin-left: auto;}/*居中*/
.gred_border { border: 1px solid #D4D6D8;}
.green_border:hover { border: 1px solid #7eba42;}
.green { color:#7eba42; }
.white { color:#FFF; }
.red { color:#F00; }
.blue { color:#30A7E1;}
.gred { color:#999; }
.bluelight { color:#9BD5F0; }
.bg_green{ background: #008000; }

